//Yashvardhan

body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,242,252,1) 19%, rgba(108,140,147,1) 86%);
}

h1{
  text-align: center;
  line-height: 125px;
  color: #383737;
}
.col-sm{
  font-size: 20px;
  font-weight: bold;
  color: #FF7600;
}
input[type=text] {
  box-sizing: border-box;
    border: 2px solid black;
    color: black;
}
button{
  color: #334257;
}
#results{
  line-height: 125px;
}
